!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Workshop Be MEAN - Beer CRUD
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body