h2 Listagem das cervejas
p.message {{ msg }}

ul
  li(data-ng-repeat='beer in beers')
    a(data-ng-href='/beers/{{ beer._id }}') 
      | {{ beer.name }} - 
      | {{ beer.price }} 
    | - 
    a(data-ng-href='/beers/{{ beer._id }}/edit')
      | ALTERAR
    | - 
    button.beer-link-remove(data-ng-click='remove(beer)')
      | REMOVER

