h2 Cadastro de cervejas
p.message {{ msg }}

p 
  span.beer-label Name: 
  | {{ beer.name }}
  br
  span.beer-label Price: 
  | {{ beer.price }}
  br
  span.beer-label Alcohol: 
  | {{ beer.alcohol }}
  br
  span.beer-label Category: 
  | {{ beer.category }}
  br
  span.beer-label Description: 
  | {{ beer.description }}
  br

